@font-face {
  font-family: 'comBold'; //重命名字体名
  src: url('@/assets/fonts/Comfortaa-Bold.ttf'); //引入字体
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'comLight'; //重命名字体名
  src: url('@/assets/fonts/Comfortaa-Light.ttf'); //引入字体
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'comMedium'; //重命名字体名
  src: url('@/assets/fonts/Comfortaa-Medium.ttf'); //引入字体
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'comRegular'; //重命名字体名
  src: url('@/assets/fonts/Comfortaa-Regular.ttf'); //引入字体
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'comSemi'; //重命名字体名
  src: url('@/assets/fonts/Comfortaa-SemiBold.ttf'); //引入字体
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'c1'; //重命名字体名
  src: url('@/assets/fonts/canger/W01.ttf'); //引入字体
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'c2'; //重命名字体名
  src: url('@/assets/fonts/canger/W02.ttf'); //引入字体
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'c3'; //重命名字体名
  src: url('@/assets/fonts/canger/W03.ttf'); //引入字体
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'c4'; //重命名字体名
  src: url('@/assets/fonts/canger/W04.ttf'); //引入字体
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'c5'; //重命名字体名
  src: url('@/assets/fonts/canger/W05.ttf'); //引入字体
  font-weight: normal;
  font-style: normal;
}




